services:
  dragonfly:
    image: docker.dragonflydb.io/dragonflydb/dragonfly
    container_name: sharanga-dragonfly
    restart: unless-stopped
    ports:
      - "6379:6379"
    ulimits:
      memlock: -1
      nofile:
        soft: 100000
        hard: 100000
    command: >
      dragonfly
      --bind=0.0.0.0
      --port=6379
      --dir=/data
    volumes:
      - dragonflydata:/data
    networks:
      - monitoring

volumes:
  dragonflydata:

networks:
  monitoring:
    driver: bridge
